@model List<PetGrooming.Models.Pet>

@{
    ViewBag.Title = "List";
}

<h2>List of Pets</h2>
<a href="/Pet/Add">Add New Pet</a>
<br />
<br />

@{

    foreach (var Pet in Model)
    {
        <div>
            <span><a href="/Pet/Show/@Pet.PetID">@Pet.PetName</a></span>
            <span>@Pet.Species.Name</span>
            <a href="/Pet/Delete/@Pet.PetID">Delete</a>
        </div>
    }
}
