@model PetGrooming.Models.ViewModels.UpdatePet

@{
    ViewBag.Title = "Update";
}

<h2>Update a Pet</h2>

<form action="/Pet/Update/@Model.pet.PetID" method="POST">

    <span>Pet Name:</span><input type="text" value="@Model.pet.PetName" id="PetName" name="PetName" />
    <span>Pet Colour:</span><input type="text" value="@Model.pet.Color" id="PetName" name="PetName" />
    <span>Pet Weight:</span><input type="text" value="@Model.pet.Weight" id="PetName" name="PetName" />

    <select id="SpeciesID" name="SpeciesID">

        @{ 
            foreach (var species in Model.species)



        }

    </select>


    <div>
        <span>Pet Notes</span>
        <textarea id="PetNotes" name="PetNotes">@Model.pet.Notes</textarea>


        <input type="submit" value="Update Pet" />
    </div>


</form>