
@{
    ViewBag.Title = "Add";
}

<h2>Add New Species</h2><br />

<form method="POST" action="/Species/Add">

    <input type="text" id="SpeciesName" name="SpeciesName"/><br /><br />
    <input type="submit" value="Add Species"/>


</form>