@model List<PetGrooming.Models.Species>

@{
    ViewBag.Title = "List";
}

<h2>List of Species</h2>
<a href="/Species/Add">Add New Species</a><br /><br />
@{ 

    foreach (var species in @Model) {

        <div>
            <a href="/Species/Show/@species.SpeciesID">@species.Name</a>
            <a href="/Species/Delete/@species.SpeciesID">Delete</a>
        </div>

        }
    }

